/* styling to body and home page background image. */
body{
    margin: 0px;
    padding: 0px;
    background-image: url('./assets/images/body_background.png');
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(181, 166, 166);
}

/* Styling to header elments like logo, search bar, and My favourites. */
#header{
    height: 90px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

#logo-img{
    height: 72px;
}

#favourites h4{
    color: white;
}

#favourites h4:hover{
    color: red;
}

#page-heading{
    text-align: center;
}

/* Styling movie container(movie image+details) */

#movie-container{
    width: 80%;
    height: 70vh;
    margin: 0% 10%;
}

#movie-image{
    display: inline-block;
    width: 40%;
    height: 100%;
}

#movie-image img{
    display: inline-block;
    width: 100%;
    height: 100%;
}

#movie-details{
    padding: 0px 20px;
    display: inline-block;
    width: 55%;
    height: 100%;
    text-align: left;
    vertical-align: top;
    font-family: monospace;
    font-size: 20px;
    line-height: 30px;
    color: rgb(106, 154, 154);
}

#movie-name{
    font-family: monospace;
    /* font-weight: bolder; */
    font-size: 45px;
    line-height: 35px;
}

#plot{
    max-height: 200px;
    overflow-y: auto;
}




