/* styling to body and home page background image. */
body{
    margin: 0px;
    padding: 0px;
    background-image: url('./assets/images/body_background.png');
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

/* Styling to header elments like logo, search bar, and My favourites. */
#header{
    height: 90px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#logo-img{
    height: 72px;
}

#search-bar{
    margin: inherit;
    width: 37%;
    height: 70%;
    position: relative;
}
#search-bar input{
    width: 100%;
    height: 60%;
    border-radius: 40px;
    font-size: medium;
    padding-left: 10px;
}


#search-icon{
    position: absolute;
    right: -6px;
    top: 13px;
    background-color: white;
    border: none;
}

#favourites h4{
    color: white;
}

#favourites h4:hover{
    color: red;
}

#page-heading{
    text-align: center;
}

/* below line contains styling for the list of movies present in home page, styling regarding img, movie-name, movie rating and adding to favourites */
#movie-container{
    display: flex;
    flex-wrap: wrap;
    margin: 5% 10%;
    width: 80%;
}

.movie-item{
    width: 239px;
    height: 400px;
    margin: 10px 30px;

}

.movie-item img{
    width: 100%;
    height: 70%;
    transition: width 0.4s, height 0.4s;
}

.movie-item img:hover{
    width: 106%;
    height: 76%;
}

.movie-name{
    font-size: 20px;
    padding: 3px;
}

.rating-and-favourite{
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.add-to-favourite{
    cursor: pointer;
}

